 <div class="container">
     <mat-card class="col-md-8 mx-auto text-center pt-5 pb-5 mat-elevation-z8">
         <h1 class="display-3 mb-5 word-break">{{ 'forgot.forgot-password-label' | translate }}</h1>

         <form [formGroup]="forgotForm" class="d-flex flex-column" (submit)="resetPassword()">
             <mat-card-content>
                 <mat-form-field class="col-md-7 mt-3 mx-auto">
                     <mat-label>New Password</mat-label>
                     <input type="password" matInput required formControlName="password" />
                     <mat-error *ngIf="forgotForm.get('password').hasError('required')">
                         Password is <strong>required</strong>
                     </mat-error>
                 </mat-form-field>

                 <mat-form-field class="col-md-7 mt-3 mx-auto">
                     <mat-label>Confirm Password</mat-label>
                     <input type="password" matInput required formControlName="confirmPassword" />
                     <mat-error *ngIf="forgotForm.get('confirmPassword').hasError('required')">
                         Password Confirmation <strong>required</strong>
                     </mat-error>
                     <mat-error *ngIf="forgotForm.get('confirmPassword').hasError('passwordMatchError')">
                         Password does not match
                     </mat-error>
                 </mat-form-field>
             </mat-card-content>

             <mat-card-actions>
                 <button [disabled]="!forgotForm.valid" color="primary" mat-raised-button class="align-self-center">
                     {{ 'forgot.reset-password-label' | translate }}
                 </button>
             </mat-card-actions>
         </form>
     </mat-card>
 </div>