<div class="container mx-auto">
    <div class="col-md-6 offset-md-3 mt-4">
        <div class="card">
            <div class="card-body">
                <div *ngIf="passwordNotification" class="info alert alert-info mx-auto mb-3">
                    {{passwordNotification}}
                </div>

                <h1 class="text-center mb-5">Forgot Password?</h1>

                <p>Enter your username/email and new password.</p>

                <form [formGroup]="forgotForm" class="mx-auto" (ngSubmit)="resetPassword()">
                    <div class="form-group mt-5 mb-3">
                        <input type="text" formControlName="username" class="form-control" placeholder="Email Address"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.username.errors }" />
                        <div *ngIf="forgotFormSubmited && ff.username.errors" class="invalid-feedback">
                            <div *ngIf="ff.username.errors.required">
                                Email Address is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4 mb-3">
                        <input type="password" formControlName="newPassword" class="form-control"
                            placeholder="New Password"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.newPassword.errors }" />
                        <div *ngIf="forgotFormSubmited && ff.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="ff.newPassword.errors.required">
                                New Password is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4 mb-3">
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirm Password"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.confirmPassword.errors }" />
                        <div *ngIf="forgotFormSubmited && ff.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="ff.confirmPassword.errors.required">
                                Password Confirmation is required
                            </div>
                        </div>
                        <div *ngIf="!passwordsMatch" class="confirmation-failed mt-2">
                            Passwords doesn't match
                        </div>
                    </div>

                    <div class="row justify-content-center align-self-center">
                        <button class="btn btn-lg btn-outline-dark mt-4" type="submit">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>