 <div class="container">
     <mat-card class="col-md-8 mx-auto text-center pt-5 pb-5">
         <h1 class="display-4 mb-5">Forgot Password?</h1>

         <mat-card-content>
             <form [formGroup]="forgotForm" class="d-flex flex-column">
                 <mat-form-field class="col-md-6 mt-3 mx-auto">
                     <mat-label>Username</mat-label>
                     <input type="email" matInput required formControlName="username" placeholder="email address" />
                     <mat-error *ngIf="forgotForm.get('username').hasError('email')
                           && !forgotForm.get('username').hasError('required')">
                         Please enter a valid email address
                     </mat-error>
                     <mat-error *ngIf="forgotForm.get('username').hasError('required')">
                         Email is <strong>required</strong>
                     </mat-error>
                 </mat-form-field>

                 <mat-form-field class="col-md-6 mt-3 mx-auto">
                     <mat-label>New Password</mat-label>
                     <input type="password" matInput required formControlName="password" />
                     <mat-error *ngIf="forgotForm.get('password').hasError('required')">
                         Password is <strong>required</strong>
                     </mat-error>
                 </mat-form-field>

                 <mat-form-field class="col-md-6 mt-3 mx-auto">
                     <mat-label>Confirm Password</mat-label>
                     <input type="password" matInput required formControlName="confirmPassword" />
                     <mat-error *ngIf="forgotForm.get('confirmPassword').hasError('required')">
                         Password Confirmation <strong>required</strong>
                     </mat-error>
                     <mat-error *ngIf="forgotForm.get('confirmPassword').hasError('passwordMatchError')">
                         Password does not match
                     </mat-error>
                 </mat-form-field>
             </form>
         </mat-card-content>

         <mat-card-actions>
             <button (click)="resetPassword()" [disabled]="!forgotForm.valid" mat-button
                 class="mt-4 mb-3 align-self-center">
                 Reset Password
             </button>
         </mat-card-actions>
     </mat-card>
 </div>