<div class="container">
    <mat-card class="col-md-10 mx-auto text-center mat-elevation-z8">
        <mat-card-content>
            <h1 class="display-3 mt-4 mb-3 word-break">Success!</h1>
            <h1 class="display-4 mb-4 word-break">Your account has been created.</h1>
            <img src="../../assets/images/check_sign.png" alt="check">
        </mat-card-content>
        <mat-card-actions class="d-flex flex-column mt-5 mb-2">
            <button class="align-self-center mt-2 mb-5" mat-flat-button color="accent"
                routerLink="/signin">{{ 'signin.signin-label' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>