*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 80%;

  @include respond(tab-land) {
    font-size: 80%;
  }
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(big-desktop) {
    font-size: 120%;
  }
}

body {
  @include respond(tab-port) {
    padding: 0;
  }
  height: 100vh;
}

html,
body {
  background: linear-gradient(to right bottom, $flash-white, $platinum);
  overflow: auto;
  min-height: 100%;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
