@import '~@angular/material/prebuilt-themes/indigo-pink';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
}

html {
  font-size: 90%;

  @include respond(tab-land) {
    font-size: 85%;
  }

  @include respond(tab-port) {
    font-size: 67%;
  }

  @include respond(big-desktop) {
    font-size: 120%;
  }
}

html,
body {
  background: linear-gradient(to right bottom, $flash-white, $platinum);
  min-height: 100vh;

  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background: $material-accent;
  color: $white;
}
