@import '../../theme/variables';

.progress-wrap {
  position: fixed;
  right: 1.8rem;
  bottom: 0.8rem;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1.8px $flash-white;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: '\2191';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: $flash-white;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 250ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  content: '\2191';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-image: linear-gradient(298deg, $cool-orange, $cool-yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  font-weight: 900;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 250ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: $cool-yellow;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 250ms linear;
}

.progress-wrap {
  box-shadow: inset 0 0 0 1.8px $flash-white;
}

.progress-wrap::after {
  color: $cool-yellow;
}

.progress-wrap svg.progress-circle path {
  stroke: $cool-yellow;
}
