<header class="header">
    <div class="logo-section">
        <a routerLink="/" class="logo">
            <img src="../../assets/images/logo.svg" alt="app_logo">
        </a>

        <button mat-icon-button [matMenuTriggerFor]="langs" aria-label="language change mat-icon button">
            <mat-icon>language</mat-icon>
        </button>
    </div>

    <input #menu class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>

    <ul class="menu">
        <li class="navigation-item">
            <a (click)="menu.click()" class="nav-link" routerLink="/" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                Dashboard
            </a>
        </li>

        <li class="navigation-item" *ngIf="isAdmin">
            <a (click)="menu.click()" class="nav-link" routerLink="/about" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                About
            </a>
        </li>

        <li *ngIf="!loggedIn" class="auth-item">
            <a (click)="menu.click()" class="nav-link" routerLink="/signup" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                Sign Up
            </a>
        </li>

        <li *ngIf="!loggedIn" class="auth-item">
            <a (click)="menu.click()" class="nav-link" routerLink="/signin" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                Sign In
            </a>
        </li>

        <li *ngIf="loggedIn" class="auth-item">
            <a (click)="logout(); menu.click()" class="nav-link" routerLink="/">
                Logout
            </a>
        </li>
    </ul>
</header>

<mat-menu #langs="matMenu">
    <button [disabled]="shouldDisableLang(enTranslationCode)" (click)="changeLang(enTranslationCode)"
        mat-menu-item>{{ 'navigation.language.english' | translate }}</button>
    <button [disabled]="shouldDisableLang(ruTranslationCode)" (click)="changeLang(ruTranslationCode)"
        mat-menu-item>{{ 'navigation.language.russian' | translate }}</button>
    <button [disabled]="shouldDisableLang(ukTranslationCode)" (click)="changeLang(ukTranslationCode)"
        mat-menu-item>{{ 'navigation.language.ukrainian' | translate }}</button>
</mat-menu>