@import '../../../app/theme/variables';
@import '../../../app/theme/abstracts/mixins';

.header {
  position: fixed;
  background-color: $white;
  box-shadow: 2px 2px 4px 0 rgba($material-accent, 0.3);
  min-width: 100vw;
  z-index: 999999;

  [mat-icon-button] {
    margin: 4px 0 0 15px;
    i {
      font-size: 2rem;
      color: $material-accent;
    }
  }

  ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    overflow: hidden;
    min-width: 96vw;
    box-sizing: border-box;

    li {
      float: left;

      &.navigation-item {
        float: left;
      }

      &.auth-item {
        float: right;
      }

      a {
        display: block;
        padding: 0.1rem 0.5rem;
        text-decoration: none;
        border-radius: 2px;

        mat-icon {
          font-size: 1.5rem;
        }

        &.nav-link {
          display: inline-flex !important;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          flex: 0 0 auto;
          color: $material-accent;
          text-transform: capitalize;
          margin: 0.3rem 0.2rem;
          font-size: 14px;

          mat-icon {
            margin-right: 0.2rem;
          }

          &.active-link {
            background-color: $material-accent;
            color: $white;
          }
        }
      }
    }
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $platinum;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 1.2rem 0;
  margin-right: 1.5rem;
  position: relative;
  user-select: none;
  margin-top: 0.6rem;
}

.header .menu-icon .navicon {
  background: $material-accent;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.3s ease-out;
  width: 1.8rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $material-accent;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 0.5rem;
}

.header .menu-icon .navicon:after {
  top: -0.5rem;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.lang-wrap {
  display: inline-flex !important;
  align-items: center;
  align-content: center;

  mat-icon {
    font-size: 1.3rem;
    color: $material-accent;
  }

  span {
    margin-left: -0.85rem;
    color: $material-accent;
  }
}

@media (max-width: 52em) {
  .header {
    ul {
      width: 100vw;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: stretch;
      align-content: stretch;
      justify-content: flex-start;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 100vh;
  }

  .header .menu-btn:checked ~ .menu {
    height: 100vh;
    text-align: center;
  }

  .header .menu {
    clear: both;
    max-height: 0;
  }

  .header .menu-icon {
    display: block;
  }
}
