@import '../../../app/theme/variables';
@import '../../../app/theme/abstracts/mixins';

a {
  color: $slate-gray;
  text-transform: uppercase;
  margin: 0.3rem 0.2rem 0.3rem 0;
  font-size: 0.8rem;

  &.active-link {
    background-color: $light;
    color: $slate-gray;
  }
}

.header {
  background-color: $white;
  box-shadow: 2px 2px 4px 0 rgba($slate-gray, 0.3);
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 1rem;
  border-right: 0.1rem solid $light;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $light;
}

.header .logo {
  display: block;
  float: left;
  padding: 0.5rem;
  margin-left: 1.5rem;
  text-decoration: none;

  img {
    height: 2.6rem;
    margin-top: 0.4rem;
  }
}

.header .menu {
  clear: both;
  max-height: 0;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.8rem 1.5rem;
  position: relative;
  user-select: none;
  margin-top: 0.6rem;
}

.header .menu-icon .navicon {
  background: $dark;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.8rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $dark;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 0.5rem;
}

.header .menu-icon .navicon:after {
  top: -0.5rem;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
  text-align: center;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header ul {
    width: 91%;

    li {
      &.navigation-item {
        float: left;
      }

      &.auth-item {
        float: right;
      }
    }
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 1.4rem;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@include respond(phone) {
  .header .menu-btn:checked ~ .menu {
    max-height: 100vh;
    min-height: 100vh;
  }

  .header li a {
    font-size: 1.1rem;
  }
}
