@import '../../../app/theme/variables';
@import '../../../app/theme/abstracts/mixins';

.navbar-wrap {
  position: fixed;
  background-color: $dark;
  box-shadow: 0 2px 3px 0 rgba($dark, 0.4);
  min-width: 100vw;
  z-index: 999999;

  .navbar {
    display: grid;
    grid-template-columns: 1fr 21fr;
    align-items: center;
    min-height: 55px;
    overflow: hidden;

    .functional-area {
      display: flex;
      margin-right: 1rem;

      .admin-panel-button {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        justify-self: center;
        color: $white;

        i {
          font-size: medium;
          margin-right: 0.2rem;
        }
      }

      [mat-icon-button] {
        justify-self: start;
        i {
          font-size: medium;
        }
        mat-icon {
          font-size: medium;
        }
        i,
        mat-icon {
          color: $smoke-rose;
          transition: all 0.15s ease;

          &:hover {
            color: $main-background;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      .left-nav,
      .right-nav {
        display: flex;

        .nav-item {
          &:not(:last-child) {
            margin-right: 0.3rem;
          }

          a {
            position: relative;
            display: flex;
            align-items: center;
            color: $white;
            font-size: 1rem;
            text-decoration: none;
            transition: all 0.15s ease-in-out;
            padding: 0.2rem 1rem;

            mat-icon {
              margin-right: 0.2rem;
              font-size: 1.2rem;
            }

            &.active-link,
            &:hover {
              background-color: $material-marsala;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: $smoke-rose;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 1rem;
  display: none;

  &::hover {
    cursor: pointer;
  }
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 720px) {
  .navbar {
    ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: space-between !important;
      align-items: center;
      top: 55px;
      background-color: $dark;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-103%);
      text-align: center;
      overflow: hidden;

      .left-nav {
        margin-top: $space-small;
      }

      .right-nav {
        margin-bottom: $space-small;
      }

      .left-nav,
      .right-nav {
        flex-direction: column;

        li {
          margin-right: 0 !important;
          padding: 0.4rem 0;

          a {
            font-size: 1.4rem !important;
            font-style: inherit;
            display: flex;
            text-transform: uppercase;
            justify-content: center;
            padding: 0.8rem 10rem !important;
          }
        }
      }
    }
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(-3%) !important;
  }
}

[mat-menu-item] {
  display: flex;
  align-items: center;
  align-content: center;

  span {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }

  mat-icon,
  span {
    color: $white;
  }

  &:first-child {
    margin-top: 0.6rem;
  }

  &[disabled] {
    background-color: $material-marsala;

    mat-icon {
      color: $dark;
    }

    span {
      color: $flash-white;
    }
  }

  &.active {
    background-color: $material-marsala !important;

    mat-icon,
    span {
      color: $flash-white !important;
    }
  }
}
