<div class="navbar-wrap">
    <nav class="navbar">
        <button mat-icon-button [matMenuTriggerFor]="langs" aria-label="language">
            <i class="fas fa-globe-americas"></i>
        </button>

        <div (click)="mobileNavActive = !mobileNavActive" [class.is-active]="mobileNavActive" class="menu-toggle"
            id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul [class.mobile-nav]="mobileNavActive" class="nav">
            <li class="nav-item">
                <a (click)="mobileNavActive = false" routerLink="/" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon inline>house</mat-icon>
                    {{ 'navigation.dashboard-label' | translate }}
                </a>
            </li>

            <li class="nav-item" *ngIf="isAdmin">
                <a (click)="mobileNavActive = false" routerLink="/about" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon inline>info</mat-icon>
                    {{ 'navigation.about-label' | translate }}
                </a>
            </li>

            <li *ngIf="!loggedIn" class="nav-item">
                <a (click)="mobileNavActive = false" routerLink="/signin" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon inline>login</mat-icon>
                    {{ 'navigation.signin-label' | translate }}
                </a>
            </li>

            <li *ngIf="loggedIn" class="nav-item">
                <a (click)="logout()" routerLink="/signin">
                    <mat-icon inline>logout</mat-icon>
                    {{ 'navigation.logout-label' | translate }}
                </a>
            </li>
        </ul>
    </nav>
</div>

<mat-menu #langs="matMenu">
    <button [disabled]="shouldDisableLang(enTranslationCode)" (click)="changeLang(enTranslationCode)" mat-menu-item>
        <span class="lang-wrap">
            <mat-icon inline>{{shouldDisableLang(enTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
            </mat-icon> <span class="lang-name">{{ 'navigation.language.english' | translate }}</span>
        </span>
    </button>
    <button [disabled]="shouldDisableLang(ruTranslationCode)" (click)="changeLang(ruTranslationCode)" mat-menu-item>
        <span class="lang-wrap">
            <mat-icon inline>{{shouldDisableLang(ruTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
            </mat-icon> <span class="lang-name">{{ 'navigation.language.russian' | translate }}</span>
        </span>
    </button>
    <button [disabled]="shouldDisableLang(uaTranslationCode)" (click)="changeLang(uaTranslationCode)" mat-menu-item>
        <span class="lang-wrap">
            <mat-icon inline>{{shouldDisableLang(uaTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
            </mat-icon> <span class="lang-name">{{ 'navigation.language.ukrainian' | translate }}</span>
        </span>
    </button>
</mat-menu>