<div class="navbar-wrap">
    <nav class="navbar">
        <div class="functional-area">
            <button mat-icon-button [matMenuTriggerFor]="langs" aria-label="language">
                <i class="fas fa-globe-americas"></i>
            </button>

            <button matBadgeColor="accent" matBadgeSize="small" matBadgeOverlap="true" matBadge="2" *ngIf="isAdmin"
                class="admin-panel-button" [matMenuTriggerFor]="admin_actions" aria-label="admin_actions"
                mat-stroked-button>
                <i class="fas fa-users"></i> {{ 'navigation.backoffice.btn_label' | translate }}
            </button>
        </div>

        <div (click)="mobileNavActive = !mobileNavActive" [class.is-active]="mobileNavActive" class="menu-toggle"
            id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul [class.mobile-nav]="mobileNavActive" class="nav">
            <div class="left-nav">
                <li class="nav-item">
                    <a (click)="mobileNavActive = false" routerLink="/" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon inline>house</mat-icon>
                        {{ 'navigation.dashboard-label' | translate }}
                    </a>
                </li>

                <li class="nav-item">
                    <a (click)="mobileNavActive = false" routerLink="/about" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon inline>info</mat-icon>
                        {{ 'navigation.about-label' | translate }}
                    </a>
                </li>
            </div>

            <div class="right-nav">
                <li *ngIf="!loggedIn" class="nav-item">
                    <a (click)="mobileNavActive = false" routerLink="/signin" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon inline>login</mat-icon>
                        {{ 'navigation.signin-label' | translate }}
                    </a>
                </li>

                <li *ngIf="loggedIn" class="nav-item">
                    <a (click)="logout()" routerLink="/signin">
                        <mat-icon inline>logout</mat-icon>
                        {{ 'navigation.logout-label' | translate }}
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</div>

<mat-menu #langs="matMenu">
    <button [disabled]="shouldDisableLang(enTranslationCode)" (click)="changeLang(enTranslationCode)" mat-menu-item>
        <mat-icon>{{shouldDisableLang(enTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
        </mat-icon>
        <span>{{ 'navigation.language.english' | translate }}</span>
    </button>
    <button [disabled]="shouldDisableLang(ruTranslationCode)" (click)="changeLang(ruTranslationCode)" mat-menu-item>
        <mat-icon>{{shouldDisableLang(ruTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
        </mat-icon>
        <span>{{ 'navigation.language.russian' | translate }}</span>
    </button>
    <button [disabled]="shouldDisableLang(ukTranslationCode)" (click)="changeLang(ukTranslationCode)" mat-menu-item>
        <mat-icon>{{shouldDisableLang(ukTranslationCode) ? 'check_circle' : 'check_circle_outline'}}
        </mat-icon>
        <span>{{ 'navigation.language.ukrainian' | translate }}</span>
    </button>
</mat-menu>

<mat-menu #admin_actions="matMenu">
    <button mat-menu-item routerLink="/backoffice/apartments" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>house_siding</mat-icon>
        <span>{{ 'navigation.backoffice.apartments' | translate }}</span>
    </button>
</mat-menu>