<div class="row">
    <div *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="max-height: 300px;"
                src="https://salon.ru/storage/thumbs/gallery/528/527412/835_3500_s786.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>
</div>