<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="height: 300px"
                src="https://salon.ru/storage/thumbs/gallery/204/203642/835_3500_s235.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-atlassian"></i> Tatarstan</h4>
                <p class="card-text">Yor tatar apartment in the heart of the City</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>
</div>