<div class="container">
    <mat-card class="col-md-8 mx-auto text-center pt-5 pb-5 mat-elevation-z8">
        <h1 class="display-4 mb-5 word-break">{{ 'signup.signup-label' | translate }}</h1>

        <form [formGroup]="registrationForm" class="d-flex flex-column" (submit)="signUp()">
            <mat-card-content>
                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>Username</mat-label>
                    <input type="email" matInput required formControlName="username" placeholder="email address" />
                    <mat-error *ngIf="registrationForm.get('username').hasError('email')
                          && !registrationForm.get('username').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('username').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>First name</mat-label>
                    <input type="text" matInput required formControlName="firstname" />
                    <mat-error *ngIf="registrationForm.get('firstname').hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput required formControlName="lastname" />
                    <mat-error *ngIf="registrationForm.get('lastname').hasError('required')">
                        Last name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="form-field col-md-7 mt-3 mx-auto">
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="true" [selectedCountryISO]="CountryISO.Ukraine" [maxLength]="15"
                        [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National"
                        name="mobile" formControlName="mobile">
                    </ngx-intl-tel-input>

                    <span class="validation-error"
                        *ngIf="registrationForm.get('mobile').touched && registrationForm.get('mobile').hasError('required')">
                        Tel # is <strong>required</strong>
                    </span>

                    <span class="validation-error"
                        *ngIf="registrationForm.get('mobile').touched && registrationForm.get('mobile').hasError('validatePhoneNumber')">
                        Tel # should be provided in proper format
                    </span>
                </div>

                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required formControlName="password" />
                    <mat-error *ngIf="registrationForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button [disabled]="!registrationForm.valid" color="primary" mat-raised-button class="align-self-center">
                    {{ 'signup.signup-label' | translate }}
                </button>
            </mat-card-actions>
        </form>

    </mat-card>
</div>