<div class="container mx-auto">
    <div class="col-md-6 offset-md-3 mt-4">
        <div class="card">
            <div class="card-body">
                <div *ngIf="signupError" class="error alert alert-danger mx-auto mb-3">
                    {{signupError}}
                </div>

                <h1 class="text-center mb-5">Sign Up</h1>

                <p>Enter your username and password</p>

                <form [formGroup]="registrationForm" class="mx-auto" (ngSubmit)="signUp()">
                    <div class="form-group mt-5 mb-5">
                        <input type="text" formControlName="username" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': registrationFormSubmitted && sf.username.errors }" />
                        <div *ngIf="registrationFormSubmitted && sf.username.errors" class="invalid-feedback">
                            <div *ngIf="sf.username.errors.required">
                                Email is required
                            </div>
                            <div *ngIf="sf.username.errors.username">
                                Invalid Email format
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-5 mb-5">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password"
                            [ngClass]="{ 'is-invalid': registrationFormSubmitted && sf.password.errors }" />
                        <div *ngIf="registrationFormSubmitted && sf.password.errors" class="invalid-feedback">
                            <div *ngIf="sf.password.errors.required">
                                Password is required
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center align-self-center">
                        <button class="btn btn-lg btn-outline-dark" type="submit">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>