@import '../../theme/variables';

[mat-fab],
[mat-mini-fab] {
  background-color: $material-primary;
  color: $slightly-light-background;
}

.chat {
  position: fixed;
  bottom: 0.8rem;
  left: 1.8rem;
}
