@import '../theme/variables';
@import '../theme/abstracts/mixins';

:host {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.word-break {
  @include wordBreak();
}

.auth-actions {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;

  .social-auth {
    margin-right: 16px;
  }
}
