<div class="container">
    <mat-card class="col-md-8 mx-auto text-center pt-5 pb-5 mat-elevation-z8">
        <div class="auth-actions mb-5">
            <div class="socials">
                <button *ngIf="isVkAvailable" (click)="signInWithVK()" color="warn" mat-mini-fab>
                    <i class="fab fa-vk"></i>
                </button>

                <button (click)="signInWithGoogle()" mat-mini-fab>
                    <i class="fab fa-google"></i>
                </button>

                <button (click)="signInWithFB()" mat-mini-fab color="primary">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </div>

            <button type="button" class="signup-button" mat-stroked-button routerLink="/signup">
                <mat-icon inline>how_to_reg</mat-icon>
                {{ 'signin.signup-label' | translate }}
            </button>
        </div>

        <h1 class="display-3 mb-5 word-break">{{ 'signin.signin-label' | translate }}</h1>

        <form #formRef="ngForm" [formGroup]="loginForm" class="d-flex flex-column" (submit)="login()">
            <mat-card-content>
                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>Username</mat-label>
                    <input type="email" matInput required formControlName="username" placeholder="email address" />
                    <mat-error *ngIf="loginForm.get('username').hasError('email')
                          && !loginForm.get('username').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-7 mt-3 mx-auto">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required formControlName="password" />
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions class="d-flex flex-column">
                <button type="submit" [disabled]="!loginForm.valid" color="primary" mat-raised-button
                    class="align-self-center">
                    {{ 'signin.login-label' | translate }}
                </button>

                <button class="align-self-center mt-4" *ngIf="formRef.submitted" [disabled]="loginForm.get('username').hasError('email')
                          || loginForm.get('username').hasError('required')" type="button" mat-button
                    (click)="forgotPassword()">Forgot Password?</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>