<div class="container mx-auto mt-5">
    <div class="d-flex flex-column">
        <h1 class="mx-auto mt-4">Estate Management Made Simple</h1>
        <p class="mx-auto mt-n3 pt-4">Introducing a groundbreaking apartment management tool.</p>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <span [ngClass]="{'btn-light-blue': registrationMode }" class="btn btn-sm btn-outline-dark border-1 mr-5"
            (click)="registrationMode = true; forgotPassword = false">
            Register
        </span>
        <span [ngClass]="{'btn-light-blue': !registrationMode }" class="btn btn-sm btn-outline-dark border-1"
            (click)="registrationMode = false; forgotPassword = false">
            Login to Account
        </span>
    </div>

    <div class="col-md-6 offset-md-3 mt-4" *ngIf="registrationMode && !forgotPassword">
        <div class="card">
            <div class="card-body">
                <div *ngIf="meetingInfo" class="info alert alert-info mx-auto mb-3">
                    {{meetingInfo}}
                </div>

                <div *ngIf="scheduleError" class="error alert alert-danger mx-auto mb-3">
                    {{scheduleError}}
                </div>

                <h1 class="text-center mb-5">User Registration</h1>

                <p>Enter your name email.</p>

                <form [formGroup]="registrationForm" class="mx-auto" (ngSubmit)="scheduleDemo()">
                    <div class="form-group mt-5 mb-5">
                        <input type="text" formControlName="name" class="form-control" placeholder="Name"
                            [ngClass]="{ 'is-invalid': registrationFormSubmitted && sf.name.errors }" />
                        <div *ngIf="registrationFormSubmitted && sf.name.errors" class="invalid-feedback">
                            <div *ngIf="sf.name.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-5 mb-5">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': registrationFormSubmitted && sf.email.errors }" />
                        <div *ngIf="registrationFormSubmitted && sf.email.errors" class="invalid-feedback">
                            <div *ngIf="sf.email.errors.required">
                                Email is required
                            </div>
                            <div *ngIf="sf.email.errors.email">
                                Invalid Email format
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center align-self-center">
                        <button [disabled]="loading" class="btn btn-lg btn-outline-success" type="submit">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-md-6 offset-md-3 mt-4" *ngIf="!registrationMode && !forgotPassword">
        <div class="card">
            <div class="card-body">
                <div *ngIf="loginError" class="error alert alert-danger mx-auto mb-3">
                    {{loginError}}
                </div>
                <div *ngIf="passwordNotification" class="info alert alert-info mx-auto mb-3">
                    {{passwordNotification}}
                </div>

                <h1 class="text-center mb-5">Log In</h1>

                <p>Enter your username/email and password.</p>

                <form [formGroup]="loginForm" class="mx-auto" (ngSubmit)="login()">
                    <div class="form-group mt-5 mb-5">
                        <input type="text" formControlName="username" class="form-control" placeholder="Email Address"
                            [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.username.errors }" />
                        <div *ngIf="loginFormSubmitted && lf.username.errors" class="invalid-feedback">
                            <div *ngIf="lf.username.errors.required">
                                Email Address is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-5 mb-3">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password"
                            [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.errors }" />
                        <div *ngIf="loginFormSubmitted && lf.password.errors" class="invalid-feedback">
                            <div *ngIf="lf.password.errors.required">
                                Password is required
                            </div>
                        </div>
                        <div class="text-right mt-3" (click)='forgotPassword = true'>
                            <span class="btn btn-sm btn-light pr-0">Forgot Password?</span>
                        </div>
                    </div>

                    <div class="row justify-content-center align-self-center">
                        <button [disabled]="loading" class="btn btn-lg btn-outline-success" type="submit">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 offset-md-3 mt-4 mb-2" *ngIf="forgotPassword">
        <div class="card">
            <div class="card-body">
                <div *ngIf="loginError" class="error alert alert-danger mx-auto mb-3">
                    {{loginError}}
                </div>
                <div *ngIf="passwordNotification" class="info alert alert-info mx-auto mb-3">
                    {{passwordNotification}}
                </div>

                <h1 class="text-center mb-5">Forgot Password</h1>

                <p>Enter your username/email and new password.</p>

                <form [formGroup]="forgotForm" class="mx-auto" (ngSubmit)="resetPassword()">
                    <div class="form-group mt-5 mb-3">
                        <input type="text" formControlName="username" class="form-control" placeholder="Email Address"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.username.errors }" />
                        <div *ngIf="forgotFormSubmited && lf.username.errors" class="invalid-feedback">
                            <div *ngIf="ff.username.errors.required">
                                Email Address is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4 mb-3">
                        <input type="password" formControlName="newPassword" class="form-control"
                            placeholder="New Password"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.newPassword.errors }" />
                        <div *ngIf="forgotFormSubmited && ff.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="ff.newPassword.errors.required">
                                New Password is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4 mb-3">
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirm Password"
                            [ngClass]="{ 'is-invalid': forgotFormSubmited && ff.confirmPassword.errors }" />
                        <div *ngIf="forgotFormSubmited && ff.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="ff.confirmPassword.errors.required">
                                Password Confirmation is required
                            </div>
                        </div>
                        <div *ngIf="!passwordsMatch" class="confirmation-failed">
                            Passwords doesn't match
                        </div>
                    </div>

                    <div class="row justify-content-center align-self-center">
                        <button [disabled]="loading" class="btn btn-lg btn-outline-success mt-4" type="submit">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>