<div class='main-wrapper'>
  <h1 class="heading">Account Settings</h1>
  <div class="col-md-6 update-info-card">
    <div class="card">
      <div class="card-body">
        <div *ngIf="passwordNotification" class="info alert alert-info mx-auto mb-3">
          {{passwordNotification}}
        </div>

        <div *ngIf="passwordError" class="error alert alert-danger mx-auto mb-3">
          {{passwordError}}
        </div>

        <h2 class="text-bold pb-1">Change Password</h2>

        <p>New password must contain at least 8 characters. New password must include at least one symbol and
          one
          number.</p>

        <form [formGroup]="passwordForm" class="mx-auto" (ngSubmit)="updatePassword()">
          <div class="form-group mt-5 mb-5">
            <input type="password" formControlName="currPassword" class="form-control" placeholder="Curent Password"
              [ngClass]="{ 'is-invalid': passwordFormSubmitted && pf.currPassword.errors }" />
            <div *ngIf="passwordFormSubmitted && pf.currPassword.errors" class="invalid-feedback">
              <div *ngIf="pf.currPassword.errors.required">
                Curent Password is required
              </div>
            </div>
          </div>

          <div class="form-group mt-5 mb-5">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password"
              [ngClass]="{ 'is-invalid': passwordFormSubmitted && pf.newPassword.errors }" />
            <div *ngIf="passwordFormSubmitted && pf.newPassword.errors" class="invalid-feedback">
              <div *ngIf="pf.newPassword.errors.required">
                New Password is required
              </div>
            </div>
          </div>

          <div class="form-group mt-5 mb-5">
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
              [ngClass]="{ 'is-invalid': passwordFormSubmitted && pf.confirmPassword.errors }" />
            <div *ngIf="passwordFormSubmitted && pf.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="pf.confirmPassword.errors.required">
                Password Confirmation is required
              </div>
            </div>
            <div *ngIf="!passwordsMatch" class="confirmation-failed">
              Passwords doesn't match
            </div>
          </div>

          <div class="row justify-content-center align-self-center">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>