@import '../theme/variables';

:host {
  min-height: 100vh;
}

.main-content {
  padding: 7.5rem 2rem 2rem 2rem;
  min-height: 100vh;
  background-color: $white;
}

footer {
  padding: 2rem;
  display: block;
  background-color: $dark;
  color: $white;
}
