@import '../theme/variables';
@import '../theme/abstracts/mixins';

:host {
  min-height: 100vh;
}

.main-content {
  padding: 6.5rem 2rem 2rem 2rem;
  min-height: 100vh;
  background-color: $flash-white;
}

footer {
  padding: 2rem;
  display: block;
  background-color: $slightly-light-background;
  color: $material-dark;
}
