<div class="container-fluid main-content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="row">
        <div class="col-md-6 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea perferendis
            unde esse, neque repudiandae eius facere reiciendis. Dolor, doloribus, rem nesciunt id cum harum doloremque
            non sunt perferendis incidunt maxime possimus dolores fuga voluptates, ducimus odit delectus error
            consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum quibusdam esse eos
            dolore modi dolores placeat sed obcaecati assumenda blanditiis nesciunt impedit, inventore dolor, soluta ad.
            Rerum quaerat nihil officiis. Dignissimos tempora earum praesentium, debitis distinctio iusto velit natus!
        </div>
        <div class="col-md-3 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea perferendis
            unde esse, neque repudiandae eius facere reiciendis. Dolor, doloribus, rem nesciunt id cum harum doloremque
            non sunt perferendis incidunt maxime possimus dolores fuga voluptates, ducimus odit delectus error
            consectetur.</div>
        <div class="col-md-3 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea perferendis
            unde esse, neque repudiandae eius facere reiciendis. Dolor, doloribus, rem nesciunt id cum harum doloremque
            non sunt perferendis incidunt maxime possimus dolores fuga voluptates, ducimus odit delectus error
            consectetur.</div>
    </div>
</footer>

<app-chat></app-chat>