<div class="container-fluid main-content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore a sapiente amet voluptatem assumenda ducimus in
    esse facere eos deleniti? Suscipit culpa debitis ex libero ad dignissimos quos corporis sed nemo doloribus obcaecati
    qui accusantium voluptatum porro accusamus voluptas tempore quam, placeat itaque tenetur dolorum cum ea quo! Tempore
    facere quidem in cumque consequatur eaque, laborum modi autem repudiandae ea dolorum odio, illo, nam quibusdam nemo
    velit dolorem? Repellat ea impedit, quis vel cupiditate ipsam voluptatum dignissimos sequi voluptatem, explicabo
    Vero possimus praesentium sed itaque, voluptates ipsa, totam recusandae
</footer>

<app-chat></app-chat>