<div class="container-fluid main-content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore a sapiente amet voluptatem assumenda ducimus in
    esse facere eos deleniti? Suscipit culpa debitis ex libero ad dignissimos quos corporis sed nemo doloribus obcaecati
    qui accusantium voluptatum porro accusamus voluptas tempore quam, placeat itaque tenetur dolorum cum ea quo! Tempore
    facere quidem in cumque consequatur eaque, laborum modi autem repudiandae ea dolorum odio, illo, nam quibusdam nemo
    velit dolorem? Repellat ea impedit, quis vel cupiditate ipsam voluptatum dignissimos sequi voluptatem, explicabo
    quidem? Optio architecto nihil alias nostrum dolorem quisquam tenetur cupiditate corrupti corporis ea suscipit
    repudiandae, facere quas inventore tempora iste assumenda aperiam laudantium, porro et cumque possimus voluptatibus.
    Aspernatur veritatis sit facilis! Alias mollitia sed ad officia ipsam at rem ratione aliquid fugiat iusto dicta,
    pariatur eum hic ex, dolore a nemo. Vero possimus praesentium sed itaque, voluptates ipsa, totam recusandae
    explicabo, saepe rem doloremque repudiandae tempore dolorem cum magnam dolores eum sequi ipsam quia! Esse placeat
    corporis veniam harum obcaecati, recusandae ea blanditiis earum porro quam commodi, eum libero impedit consequatur
    a. Exercitationem non fugiat explicabo minus mollitia doloribus a molestiae error reiciendis repudiandae omnis,
    praesentium, illum quo eos itaque. Et odit ratione fugiat voluptatibus iste temporibus accusamus quas soluta? Dolor
    corporis molestiae facere doloribus commodi tempore perspiciatis eius, esse ullam in, fugit quaerat harum natus
    totam tenetur obcaecati consequatur excepturi hic ea? Deleniti illo esse et inventore eius odit veritatis quidem
    iure corrupti quo incidunt, iusto recusandae, nobis nisi quis illum atque laboriosam. Reiciendis facilis quaerat
    cumque placeat doloribus vero atque, deleniti sapiente ipsa recusandae. Praesentium quibusdam quod odit qui ducimus
    tempora incidunt molestiae natus fugiat nisi. Rerum earum asperiores ut iste consequuntur! Vero labore repellendus
    possimus sint ducimus debitis officiis rerum excepturi sunt at, harum ipsum laborum laboriosam voluptatem quisquam,
    facilis placeat quis voluptates ab. Veniam, odio!
</footer>

<app-chat></app-chat>