@import '../theme/variables';

:host {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.main-content {
  padding: 3rem 2rem;
  min-height: 83vh;
  margin: 10rem auto 2rem auto;
  background-color: $white;
}
