@import './variables';

.btn-primary {
  color: $light;
  background-color: $primary !important;
  border: none !important;

  &:hover {
    opacity: 0.6;
    border-color: $primary;
  }
}

.btn-info {
  color: $light;
  background-color: $info !important;
  border: none !important;

  &:hover {
    opacity: 0.6;
    border-color: $info;
  }
}

.btn-success {
  background-color: $success !important;
  border: none !important;
}

.btn-info {
  color: $light;
  background-color: $info !important;
  border: none !important;
}

.btn-danger {
  color: $light;
  background-color: $danger !important;
  border: none !important;
}

.btn-dark {
  color: $light;
  background-color: $dark !important;
  border: none !important;
}

.dropdown-button {
  background-color: $light !important;
  border: 1px solid $white !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  color: $secondary !important;
  width: 230px;
  padding: 3px !important;
}

.color-primary {
  color: $primary !important;
}

.color-secondary {
  color: $secondary !important;
}

.color-success {
  color: $success !important;
}

.color-danger {
  color: $danger !important;
}

.color-info {
  color: $info !important;
}

.color-dark {
  color: $dark !important;
}

.bg-primary {
  color: $light !important;
  background-color: $primary !important;
}

.bg-secondary {
  color: $light !important;
  background-color: $secondary !important;
}

.bg-success {
  color: $light !important;
  background-color: $success !important;
}

.bg-danger {
  color: $light !important;
  background-color: $danger !important;
}

.bg-info {
  color: $light !important;
  background-color: $info !important;
}

.bg-warning {
  color: $light !important;
  background-color: $warning !important;
}
