$primary: #66cbff;
$success: #29cc97;
$secondary: #767883;
$info: #3751ff;
$warning: #fec400;
$danger: #ed4320;
$light: #f8f8f8;
$dark: #515151;
$white: #fff;

$theme-colors: (
  'primary': $primary,
  'success': $success,
  'secondary': $secondary,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$def-margin: 32px;
