// COLOR VARS
$primary: #3f51b5;
$success: #466362;
$secondary: #767883;
$info: #8896ab;
$warning: #fed766;
$danger: #e94b3cff;

$light: #eeeff0;
$white: #ffffff;
$gray: #606060ff;
$green: #0dab76;
$light-green: #a8c686;
$dark: #3d4148;
$dark-charkoal: #333333;
$cool-yellow: #fcfc62;
$cool-orange: #f2aa4cff;
$cool-red: #e94b3cff;

// exotic gray colors
$slate-gray: #708090;
$flash-white: #f2f2f2;
$platinum: #c7d3d4ff;

$material-primary: #3f51b5;
$material-accent: #ff4081;
$material-warn: #f44336;
$material-marsala: #d3005a;

$doozer-grey: #f2f3f4;
$smoke-rose: #ffbcb5;
$pink-yarrow: #ce4a7eff;

$main-background: #ff6b6b;
$secondary-background: #556270;

// FONT
$default-font-size: 1.6rem;

// THEMES
$theme-colors: (
  'primary': $primary,
  'success': $success,
  'secondary': $secondary,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// SPACES
$space-small: 0.8rem;
$space-medium: 1.6rem;
$space-big: 3.2rem;
$space-large: 6.4rem;
