@import "../../app/theme/variables.scss";

form {
  width: 60%;
}

.btn-light-blue {
  color: $white-80;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.error {
  text-align: center;
}

.bitImage{
  width: 150px;
  height: 70px;
}
