<div class="row">
    <div *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"
        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mat-elevation-z8">
            <img class="card-img-top img-fluid" style="max-height: 300px;"
                src="https://salon.ru/storage/thumbs/pub_image_list/59/58572/663_470_s378.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"><i class="fab fa-accusoft"></i>Turkey</h4>
                <p class="card-text">Apartment in Turkish region</p>
                <button mat-raised-button color="accent" class="float-right">Review</button>
            </div>
        </div>
    </div>
</div>